.cards-wrapper {
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    padding: 0 10%;
    display: inline-block;
}
.homeCard{
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.4s ease all;
    transform: scale(1,1);
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    min-height: 245px;
  
}
.homeCardContainer{
    width: 33.33%;
    float: left;
}